@using System.Security.Claims
@inject AuthenticationStateProvider AuthStateProvider

@code {
    private ClaimsPrincipal user;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        user = authState.User;
    }
}

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SPI</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-door-fill"></i> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="proyecto">
                <i class="bi bi-folder-fill"></i> Proyecto
            </NavLink>
        </div>

        @* Solo Admin y Delegado ven Áreas *@
        @if (user.IsInRole("Administrador") || user.IsInRole("Delegado"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="area">
                    <i class="bi bi-diagram-3-fill"></i> Área
                </NavLink>
            </div>
        }

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/observaciones/pendientes" Match="NavLinkMatch.Prefix">
                <i class="bi bi-list-check"></i> Obs. Pendientes
            </NavLink>
        </div>

        @* Solo Admin ve Usuarios *@
        @if (user.IsInRole("Administrador"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="usuarios">
                    <i class="bi bi-people-fill"></i> Usuarios
                </NavLink>
            </div>
        }
    </nav>
</div>


